*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

/* Sección intro */
.intro{
    height: 616px;
    background-color: #fafafa;
    background-image: url(imagenes/puntitos.svg);
}
.header{
    display:flex;
    justify-content: space-between;
    padding: 18px 17px;
}
@media (min-width: 768px){
    .header{
        height: 109px;
        padding: 36px 0 0 0;
        margin: 0 80px 0;
    }
}
.logo{
    height: 50px;
    width: 54px;
}
@media(min-width: 768px){
    .logo{
        height: 109px;
        width: 95px;
    }
}
.rectangulo{
    background-color: #141414;
    width: 36px;
    height: 6px;
}
.menu{
    width: 36px;
    height: 32px;
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    justify-content: space-between;
}
@media(min-width: 768px){
    .menu{
        display: none;
    }
}
.contenedor-links{
    display: flex;
    flex-direction: row;
    width: 428px;
    justify-content: space-between;
}
@media(max-width: 768px){
    .contenedor-links{
        display: none;
    }
}
.link{
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}
.contenedor-intro{
    display: flex;
    flex-direction: column;
    gap: 100px;
}
@media(min-width: 768px){
    .contenedor-intro{
        flex-direction: row;
        gap: 0;
        justify-content: space-between;
        height: 435px;
        margin-top: 120px;
    }
}
.contenedor-titulo-intro{
    height: 96px;
    padding: 0 42px 0 ;
    text-align: center;
    letter-spacing: -1px;
}
@media(min-width: 768px){
    .contenedor-titulo-intro{
        width: 313px;
        padding: 0;
        margin-left: 80px;
        text-align: left;
    }
}
.titulo{
    font-size: 48px;
    line-height: 48px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    margin: 0;
}
.contenedor-foto-intro{
    display: flex;
    justify-content: center;
}
.foto-intro{
    max-width: 375px;
}
@media(min-width: 768px){
    .foto-intro{
        margin-right: 84px;
    }
}


/* Sección info */
.info{
    background-color: #141414;
    height: 538px;
   
}
@media(min-width: 768px){
    .info{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;
    }
}
@media(min-width: 768px){
    .contenedor-texto-info{
        width: 532px;
    }
}
.contenedor-subtitulo-info{
    padding: 55px 52px 0 52px;
    text-align: center;
    letter-spacing: -2px;
}
@media (min-width: 768px){
    .contenedor-subtitulo-info {
      padding: 0;
      text-align: left;
      padding-bottom: 28px;
    }
}
.subtitulo-info{
    color: #FAFAFA;
    font-size: 32px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    line-height: 44px;
    margin: 0;
}
.contenedor-parrafo-info{
    padding: 41px 32px 0 32px;
}
@media (min-width: 768px){
    .contenedor-parrafo-info {
      padding: 0;
    }
}
.parrafo-info{
    color: #FAFAFA;
    font-size: 16px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    margin: 0;
    
}
@media (min-width: 768px){
    .parrafo-info {
      font-size: 24px;
      line-height: 28px;
    }
}
.check{
    height: 205px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 768px){
    .check {
      align-items: normal;
      width: 211px;
      height: 211px;
    }
}
/* Seccion servicios*/
.servicios{
    background-color: #FAFAFA;
    height: 1375px;
}
@media (min-width: 768px){
    .servicios{
        height: 604px;
    }
}
.contenedor-subtitulo-servicios{
    padding: 70px 52px 48px 52px;
}
@media (min-width: 768px){
    .contenedor-subtitulo-servicios{
        padding: 59px 0 76px 0;
    }
}
.subtitulo-servicios{
    color: #2C2C2C;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    margin: 0;
}
@media (min-width: 768px){
    .subtitulo-servicios{
       font-size: 48px;
       line-height: 48px;
    }
}
.contenedor-grande{
    padding: 0 52px;
    height: 1140px;
    display: grid;
    align-content: space-between;

}
@media (min-width: 768px){
    .contenedor-grande {
      padding: 0 80px;
      height: 312px;
      grid-template-columns: 271px 271px 271px;
      justify-content: space-between;
    }
}
.contenedor-servicios{
    height: 312px;
    display: grid;
    justify-items: center;
    align-items: center;
}
.subtitulo-contenedor{
    color: #2c2c2c;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin: 0;
}
.parrafo-servicios{
    color: #2c2c2c;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin: 0;
}

/*Seccion form*/
.form{
    background-color: #141414;
    height: 660px;
}
@media (min-width: 768px){
    .contenedor-grande-form {
      display: grid;
      grid-template-columns: 271px 376px;
      gap: 77px;
      justify-content: center;
      padding: 116px 0;
    }
}
.contenedor-subtitulo-form{
    padding: 70px 52px 36px 52px;
}
@media (min-width: 768px){
    .contenedor-subtitulo-form {
      padding: 0;
    }
}
.subtitulo-form{
    color: #FAFAFA;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    margin: 0;
}
@media (min-width: 768px){
    .subtitulo-form {
      font-size: 48px;
      line-height: 48px;
      text-align: right;
    }
}
.contenedor-form{
    padding: 0px 20px;
    height: 440px;
    display: grid;
    align-content: space-between;
}
@media (min-width: 768px){
    .contenedor-form {
      padding: 0;
    }
}
.fieldset{
    display: flex;
    flex-direction: column;
}
.label{
    color: #FAFAFA;
    font-size: 13px;
    line-height: 15px;
    padding-bottom: 9px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
}
.input-text{
    border: 3px solid #2c2c2c;
    box-sizing: border-box;
    border-radius: 4px;
    height: 45px;
    font-family: "Roboto";
    font-size: 13px;
}
.textarea{
    border: 3px solid #2c2c2c;
    box-sizing: border-box;
    border-radius: 4px;
    height: 113px;
    font-family: "Roboto";
    font-size: 13px;
}
.button-section{
    padding-top: 60px;
}
.button{
    background: #ffd953;
    border-radius: 4px;
    width: 100%;
    height: 45px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #141414;
    border: none;
}

  /* Sección footer */
.footer{
    background-color: #eeeeee;
    height: 493px;
}
@media (min-width: 768px){
    .footer {
      background-image: url(imagenes/puntitos.svg);
      height: 346px;
    }
}
.contenedor-footer{
    padding-left: 20px;
}
@media (min-width: 768px){
    .contenedor-footer {
      padding: 0;
      display: grid;
      grid-template-columns: max-content max-content;
      height: 346px;
      align-items: center;
      justify-content: space-between;
      padding: 0 215px 0 80px;
    }
}
.contenedor-logo{
    padding-top: 53px;
    display: grid;
}    
@media(min-width: 768px){
    .contenedor-logo{
        padding: 0;
    }
}
.logo-footer{
    height: 71px;
    width: 77px;
}
@media(min-width: 768px){
    .logo-footer{
        height: 103px;
        width: 103px;
    }
}
.copyright{
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #2C2C2C;
}
@media (min-width: 768px){
    .copyright {
      text-align: center;
    }
  }
.contenedor-redes{
    padding-top: 85px;
    display: flex;
    flex-direction: column;
    gap: 27px;
}
@media (min-width: 768px){
    .contenedor-redes {
      padding: 0;
    }
  }
.logo-redes{
    vertical-align: middle;
    padding-right: 5px;
}
.address{
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #2C2C2C;
}